.wrapper {
  --entrance-animation-initial-delay: 300ms;
  --entrance-animation-stagger: var(--entrance-animation-stagger-4);
  padding-top: 2rem;
  row-gap: 3rem;

  @media (width > 60rem) {
    row-gap: 4rem;
  }
}

.wrapper > article {
  grid-column: 1/-1;
}


@media (width > 60rem) {
  .wrapper > article:first-of-type {
    --entrance-animation-stagger: 0s;
    grid-column: 1/8;
  }

  .wrapper > article:nth-of-type(2) {
    --entrance-animation-stagger: var(--entrance-animation-stagger-1);
    grid-column: 8/13;
  }

  .wrapper > article:nth-of-type(3) {
    --entrance-animation-stagger: var(--entrance-animation-stagger-2);
    grid-column: 1/6;
    /* align-self: end; */
  }

  .wrapper>article:nth-of-type(4) {
    --entrance-animation-stagger: var(--entrance-animation-stagger-3);
    grid-column: 6/13;
  }

  .wrapper>article:nth-of-type(5) {
    grid-column: 1/7;
    --thumb-media-aspect-ratio: 1;
  }

  .wrapper>article:nth-of-type(6) {
    grid-column: 7/13;
  }

  .wrapper>article:nth-of-type(7) {
    /* --thumb-media-aspect-ratio: 3/4; */
    grid-column: 5/13;
  }

  .wrapper>article:nth-of-type(8) {
    align-self: end;
    grid-column: 8/13;
  }
}