.thumb {
  @media (width > 75rem) {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr auto;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas:
      "media media"
      "details roles";
  }
}

.mediaWrapper {
  --__thumb-media-aspect-ratio: var(--thumb-media-aspect-ratio, 3/2);
  grid-area: media;
  background-color: var(--color-background-dimmed);
  aspect-ratio: var(--__thumb-media-aspect-ratio);
  width: 100%;
  height: auto;
  position: relative;

  @media (width <= 75rem) {
    margin-bottom: 1rem;
  }
}

.mediaWrapper > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .mediaWrapper:empty {
  aspect-ratio: 3/2;
} */

.details {
  grid-area: details;
  /* max-width: 48ch; */
  text-wrap: balance;
  /* font-size: var(--font-size-body-lg); */

  @media (width <= 75rem) {
    margin-bottom: .5rem;
  }
}

.details h3 {
  color: var(--color-foreground);
  font-weight: 400;
  margin-inline-end: .35em;
  font-size: inherit
}

.details a::after {
  content: '';
  position: absolute;
  inset: 0;
}

@media (width > 75rem) {
  .details > * {
    display: inline;
  }
}

.details p {
  color: var(--color-foreground-dimmed);
}

.roles {
  grid-area: roles;
  color: var(--color-foreground-dimmed);
  /* font-size: var(--font-size-body-sm); */
}