.icon {
  --__icon-color: var(--icon-color, currentColor);
  --__icon-width: var(--icon-width, 1em);
  width: var(--__icon-width);
  height: var(--__icon-width);
  stroke: var(--__icon-color);
  user-select: none;
  pointer-events: none;
  transition-duration: inherit;
  transition-property: all;
  transition-timing-function: inherit;
}