main:has(.not-found-wrapper) {
  align-self: center;
}

.not-found-wrapper {
  grid-template-areas:
    "title title title title title"
    "msg   msg   msg   msg   msg"
    "link  link  link  link  link";

  @media (width > 60rem) {
    grid-column: 7/13;
    grid-template-areas:
      "title msg  msg  msg  . ."
      ".     link link link . .";
  }
}

.not-found-wrapper p {
  grid-area: msg;
}

.not-found-wrapper a {
  grid-area: link;
  margin-top: .5rem;
}

.not-found-wrapper h1 {
  grid-area: title;
  margin: 0 0 1rem 0;
  color: var(--color-foreground-dimmed);

  @media (width > 60rem) {
    justify-self: end;
    text-align: right;
    margin: 0 1.5rem 0 0;
  }
}