.wrapper {
  position: relative;
  aspect-ratio: inherit;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.wrapper video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}