.wrapper {
  margin-top: 4rem;
  display: grid;
  grid-column: 1/-1;
  align-self: end;
  grid-template-columns: subgrid;
  padding-top: 1.5rem;
  border-top: var(--border-divider);
  grid-template-areas:
      "copy copy links links links";
  @media (width > 60rem) {
    grid-template-areas:
      "copy copy . . . . . . . links links links";
  }
}

.copyright {
  grid-area: copy;
}

.copyright svg {
  display: inline-block;
  vertical-align: middle;
  margin-inline-end: .15rem;
  color: var(--color-foreground);
}

.copyright span {
  color: var(--color-foreground-dimmed);
}

.links {
  grid-area: links;
  justify-self: end;
}