.wrapper {
  grid-template-areas:
    "text text text text text text text links links links links links";
  padding-bottom: 2rem;
  border-bottom: var(--border-divider);
  align-items: end;

  @media (width <= 50rem) {
    grid-template-areas:
        "text  text  text  text  text"
        "links links links links links";
  }
}

.wrapper p {
  grid-area: text;
}

.wrapper ul {
  grid-area: links;
  display: flex;
  flex-direction: column;
  gap: .65rem;

  @media (width <=50rem) {
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}

