.wrapper {
  grid-template-areas:
    "text text text text text text text links links links links links";
  padding-bottom: 2rem;
  border-bottom: var(--border-divider);
  align-items: end;

  @media (width <= 60rem) {
    grid-template-areas:
        "text  text  text  text  text"
        "links links links links links";
  }
}

.wrapper p {
  grid-area: text;
  max-width: 50ch;
  text-wrap: normal;
}

.wrapper ul {
  grid-area: links;
  display: flex;
  flex-direction: column;
  gap: .65rem;

  @media (width <= 60rem) {
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}

/* .wrapper ul li:first-of-type {
  --entrance-animation-stagger: var(--entrance-animation-stagger-1);
} */

.wrapper ul li:nth-of-type(2) {
  --entrance-animation-stagger: var(--entrance-animation-stagger-1);
}

.wrapper ul li:nth-of-type(3) {
  --entrance-animation-stagger: var(--entrance-animation-stagger-2);
}