.wrapper {
  grid-template-areas:
    "copy copy copy copy copy"
    "images images images images images";
  @media (width > 50rem) {
    grid-template-areas:
      "images images images images images images copy copy copy copy copy copy";
  }
}

.imagesWrapper {
  grid-area: images;
}

.copyWrapper {
  grid-area: copy;
  display: grid;
  grid-template-columns: subgrid;
}

.copyWrapper h2 {
  margin: 0 0 1rem 0;

  @media (width > 50rem) {
    justify-self: end;
    text-align: right;
    margin: 0 1.5rem 0 0;
  }
}

.copyWrapper p {
  text-wrap: balance;
}

.copyWrapper p + p {
  margin-top: 1rem;
}

.sectionWrapper {
  display: grid;
  grid-template-columns: subgrid;
}

.sectionWrapper + .sectionWrapper {
  margin-top: 2rem;
}

.sectionWrapper[data-layout="1"] {
  grid-column: 1/-1;
  grid-template-areas:
    "title title title title title"
    "content content content content content";

  @media (width > 50rem) {
    grid-template-areas:
        "title content content content content content";
  }
}

.sectionWrapper[data-layout="2"] {
  grid-column: 1/-1;
  grid-template-areas:
    "title1 title1 title2 title2 title2"
    "content1 content1 content2 content2 content2";

  @media (width > 50rem) {
    grid-template-areas:
      "title1 content1 content1 title2 content2 content2";
  }
}

.sectionWrapper[data-layout="1"] h2 {
  grid-area: title;
}

.sectionWrapper[data-layout="2"] h2:first-of-type {
  grid-area: title1;
}

.sectionWrapper[data-layout="2"] > *:nth-child(2) {
  grid-area: content1;
}

.sectionWrapper[data-layout="2"] h2:nth-of-type(2) {
  grid-area: title2;
}

.sectionWrapper[data-layout="2"] > *:nth-child(4) {
  grid-area: content2;
}

.sectionWrapper[data-layout="1"] > *:last-child {
  grid-area: content;
}

.sectionWrapper:is(:nth-of-type(2)) > *:last-child {
  padding-bottom: 2rem;
  border-bottom: var(--border-divider);
}

.linkList {
  display: flex;
  gap: 1rem;
}