.image {
  --__image-ratio: var(--image-ratio, 1);
  aspect-ratio: var(--__image-ratio);
  width: 100%;
  height: auto;
  position: relative;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image figcaption {
  margin-top: .5rem;
  font-size: var(--font-size-body);
  color: var(--color-foreground-dimmed);
}